.liveHeader {
  display: flex;
  flex-direction: row;

  color: white;
}
.liveChannel {
  width: 50%;
}
/* .liveChannel__header {
} */

.liveChannel__footer {
  font-size: 14px;
  line-height: 16px;

  display: flex;
}
.liveChannel__footer__label {
  border-right: 1px solid white;
  padding: 12px 10px;
}

.liveChannel__footer__details {
  padding: 12px 10px;
}

.liveChannel__content {
  display: flex;
}

.liveChannel__content__image {
  flex: 1;
  max-width: 60%;
  height: 100%; /* Set a fixed height for the image */
}

.styles.liveChannel__content__image Image {
  width: 100%;
  height: 100%; /* Set a fixed height for the image */
  object-fit: cover;
  object-position: center;
}
.liveChannel__content__details {
  flex: 1;
  padding: 10px;
}
.liveChannel__footer {
  border-top: 1px white solid;
}

.channel2 {
  border-left: 1px solid white;
}

.drawerArrow {
  background-color: black !important;
}
