.liveHeader {
  display: flex !important;
  flex-direction: row !important;

  color: white !important;
}
.liveChannel {
  width: 50% !important;
}
/* .liveChannel__header {
} */

.liveChannel__footer {
  font-size: 14px !important;
  line-height: 16px !important;

  display: flex !important;
}
.liveChannel__footer__label {
  border-right: 1px solid white !important;
  padding: 12px 10px !important;
}

.liveChannel__footer__details {
  padding: 12px 10px !important;
}

.liveChannel__content {
  display: flex !important;
}

.liveChannel__content__image {
  flex: 1 !important;
  max-width: 60% !important;
  height: 100% !important; /* Set a fixed height for the image */
}

.styles.liveChannel__content__image Image {
  width: 100% !important;
  height: 100% !important; /* Set a fixed height for the image */
  object-fit: cover !important;
  object-position: center !important;
}
.liveChannel__content__details {
  flex: 1 !important;
  padding: 10px !important;
}
.liveChannel__footer {
  border-top: 1px white solid !important;
}

.channel2 {
  border-left: 1px solid white !important;
}

.drawerArrow {
  background-color: black !important;
}

.g-background-default {
  background-color: black;
}

.css-1nvnyqx-MuiPaper-root-MuiDrawer-paper {
  background-color: black !important;
  margin-top: 81px;
  z-index: 1400 !important;
}

.css-68zbsl {
  width: auto;
  border: 1px solid white;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  border-left: white solid 1px;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  border-radius: 0;
  padding: 0;
  min-width: 26px;
  max-width: 30px;
  max-height: 30px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: black;
}

.dark {
  min-width: 26px;
  max-width: 30px;
  max-height: 30px;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  background-color: transparent;
}
