.footer {
  width: 39%;
  height: 100px;
  margin-left: 10px;
}

.widget {
  position: inherit !important;
  border: 1px solid #666;
  background: black !important;
}

.g-background-default {
  background-color: black !important;
  background: black !important;
}
