.header {
  background-color: #fff;
  color: black;
  padding: 0rem;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

  display: flex;
  font-size: 14px;
}

[data-theme="dark"] .header {
  background-color: black;
  color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.main {
  flex: 1;
  order: 2;
  background: black;
  color: white;
  padding: 0.2rem 0.2rem;
  display: flex;
}

[data-theme="dark"] .main {
  background: white;
  color: black;
}

.sidebarfirst {
  width: 92px;
  background: white;
  order: 1;
  padding: 0.5rem;
  display: flex;
}

[data-theme="dark"] .sidebarfirst {
  background: black;
}

.sidebarsecond {
  flex: 1;
  order: 3;
  background: black;
  color: white;
  padding: 0.5rem;
  border-left: 1px solid white;
  padding: 0.2rem 0.2rem;
  display: flex;
}

[data-theme="dark"] .sidebarsecond {
  border-left: 1px solid black;
  background: white;
  color: black;
}

.channel {
  background: white;
  color: black;
  padding: 0.3rem 0.5rem;
  margin-right: 10px;
}

[data-theme="dark"] .channel {
  background: black;
  color: white;
}

.country {
  padding: 0.3rem 0.5rem;
  align-items: flex-end;
  margin-left: auto;
}

.name {
  padding: 0.3rem 0.5rem;
}

.svg {
  width: 15px !important;
  justify-content: center;
  display: flex;
}

.blinking {
  animation: blink 1s ease infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
