/* .mixContainer {
} */

.profileImage {
  margin-top: 67px;
  height: calc(100% - 67px);
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.mixProfile {
  top: 50%;
  position: absolute;

  margin-top: 0;
  width: 50%; /* Adjust the width according to your design */
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bioHead {
  box-sizing: border-box !important;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  padding: 20px 20px 0 20px;

  justify-content: space-between;
  width: 100%;
}
.border {
  border-top: 1px solid black;
  padding-top: 20px;
}

.bioInfos {
  flex: 1;
}

.bio__title {
  font-size: 28px;
  line-height: 32px;
}

.bio__city {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.bio__date {
  padding: 10px 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.tracklist {
  background-color: black;
  padding: 20px;
  color: white;
}
.tracklist__title {
  background-color: black;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.track {
  background-color: black;
  padding: 5px 0;
  line-height: 18px;
}
.track__artist {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}
.track__title {
  font-size: 13px;
  color: white;
}

.bio {
  background-color: white;
  color: black;
  padding: 0 20px 20px 20px;
}

.mixTags {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin: 0;
  padding: 20px 0px 0 0;
}

.mixTag {
  font-size: 12px;
  margin: 2px;
  padding: 6px 8px;
  border: 1px solid #4c4c4c;
  color: black;
  text-decoration: none;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  text-transform: uppercase;
}
.mixTag:hover {
  background-color: #4c4c4c;
  color: white;
}

/* .tags {
  font-size: 12px;
  margin: 2px;
  padding: 6px 8px;
  border: 1px solid #4c4c4c;
  color: #ccc;
  text-decoration: none;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
} */

.svg {
  fill: black;
}
.arrow {
  background: white;
  width: 140px;
}

.playButton {
  max-width: 30px;
  height: 30px;
  flex: 1;
  padding-top: 10px;
}
.foot {
  background-color: white;
  padding: 20px;
}

.bt {
  background: white;

  color: black;
  padding: 10px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 2px solid white;
  margin-right: 10px;
}

.bt:hover {
  background: black;

  color: white;
  padding: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  margin-right: 10px;
}
