.mixContainer {
}

.profileImage {
  margin-top: 67px;
  height: calc(100% - 67px);
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.mixProfile {
  margin-top: 0;
  top: 50%;
  position: absolute;
}

.tracklist {
  background-color: black;
  width: 40%;
  padding: 20px;
}
.bio {
  width: 40%;
  background-color: white;
  color: black;
  padding: 20px;
}

.tags {
  font-size: 12px;
  margin: 2px;
  padding: 6px 8px;
  border: 1px solid #4c4c4c;
  color: #ccc;
  text-decoration: none;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.bt {
  color: black;
}
